.custom-stroked-button {
  border-color: black !important; /* Custom border color */
  color: black !important; 
  background-color: #f8ab39 !important;       /* Custom text color */
  &:hover {
    background-color: #fbb347 !important; /* Your desired hover background color */
  }
}

.icon-display{
  transform: scale(3);
}