.cart-btn {
  border: none;
  background: transparent;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  padding: 4px;

  &:hover {
    box-shadow: 0 0 0 3px #f8ab39; // Circle effect, change color as needed
    background: #fff; // Optional: keep background white
  }

  .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }

}

.custom-stroked-button {
  border-color: black !important; /* Custom border color */
  color: black !important;        /* Custom text color */
  width: 100% !important; /* Full width */
  &:hover {
    background-color: #f8ab39 !important; /* Your desired hover background color */
  }
}

.product-card{
  transition: transform 0.2s, box-shadow 0,2s;
}

.product-card:hover{
  transition: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
