.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.custom-stroked-button {
  border-color: black !important; /* Custom border color */
  color: black !important;        /* Custom text color */
  &:hover {
    background-color: #f8ab39 !important; /* Your desired hover background color */
  }
}

.cart-btn {
  border: none;
  background: transparent;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  padding: 4px;

  &:hover {
    box-shadow: 0 0 0 3px #f8ab39; // Circle effect, change color as needed
    background: #fff; // Optional: keep background white
  }

  .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

a{
  &.active {
    color:#f8ab39
  }
}