.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.custom-stroked-button {
  color: #e08f17 !important;        /* Custom text color */
  background-color: white !important; /* Your desired hover background color */
  &:hover {
    background-color: #fbb347 !important; /* Your desired hover background color */
    color: black !important;
  }
}

.cart-btn {
  border: none;
  background: transparent;
  border-radius: 50%;
  transition: box-shadow 0.2s;
  padding: 4px;

  &:hover {
    background-color: #e0e0e0; // Solid grey fill on hover
    box-shadow: none; // Remove the border effect, or keep if you want both
    
  }

  .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

a{
  &.active {
    color:#f8ab39
  }
}