.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.custom-stroked-button {
  border-color: black !important; /* Custom border color */
  color: black !important;        /* Custom text color */
  &:hover {
    background-color: #f8ab39 !important; /* Your desired hover background color */
  }
}